<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .H2-text{
        color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="1">Test</h1>
    <p>texttexttext <span style="colour: green">texttextetx</span></p>
    <h2 class="H2-text">Y2 Text</h2>
    <p>text</p>
    <a href="https://stepik.org/lesson/1452311/step/1?unit=1471322" target="_blank">Link</a>
    <img alt="browsers.png" src="https://sun9-86.userapi.com/s/v1/ig2/zwap0AdRxhDCOku1bD_u72m3zXtGJjJFLrpdmCM_STgkcS1xWbYKLtUWbIP5XdcquV0qk2RKq3gaLHbCD2ZEdthM.jpg?quality=96&as=32x40,48x60,72x90,108x135,160x200,240x300,360x450,480x600,540x675,640x800,720x900,768x960&from=bu&cs=768x0" style="width: 250px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input disabled type="text" value="12345" placeholder="Number">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
    </form>
    <textarea placeholder="Placeholder">12345</textarea>
    <button type="submit">TextButton</button>
    <table>
        <thead>
        <tr>
            <td>Item 1</td>
            <td>Item 2</td>
            <td>Item 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Text</td>
            <td>Text</td>
            <td>Text</td>
        </tr>
        <tr>
            <td>Text</td>
            <td>Text</td>
            <td>Text</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>